<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->

    <!-- Login Form -->
    <form [formGroup]="loginForm" novalidate>
      <input formControlName="email" type="text" id="login" class="fadeIn second" name="email" placeholder="email">
      <input formControlName="password" type="password" id="password" class="fadeIn third" name="login" placeholder="password">
      <input (click)="onSave()" type="submit" class="fadeIn fourth" value="Log In">
    </form>

    <!--Sign Up-->
    <div>
      Haven't account yet ?<a class="underlineHover" routerLink="/register" href="#">Create it now.</a>
    </div>

    <!-- Remind Passowrd -->
    <div id="formFooter">
      <a class="underlineHover" href="#">Forgot Password?</a>
    </div>

  </div>
</div>